################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Corkedfever.Client.Message/bin/Debug/net8.0
/Corkedfever.Client.Message/obj
/Corkedfever.Message.Testing/bin/Debug/net8.0
/Corkedfever.Message.Testing/obj
/Corkedfever.Message.Business/bin/Debug/net8.0/Corkedfever.Message.Business.dll
/Corkedfever.Message.Business/bin/Debug/net8.0/Corkedfever.Message.Business.pdb
/Corkedfever.Message.Business/bin/Debug/net8.0/Corkedfever.Message.Data.dll
/Corkedfever.Message.Business/bin/Debug/net8.0/Corkedfever.Message.Data.pdb
/Corkedfever.Message.Business/obj/Debug/net8.0/ref/Corkedfever.Message.Business.dll
/Corkedfever.Message.Business/obj/Debug/net8.0/refint/Corkedfever.Message.Business.dll
/Corkedfever.Message.Business/obj/Debug/net8.0/Corkedfever.Message.Business.AssemblyInfo.cs
/Corkedfever.Message.Business/obj/Debug/net8.0/Corkedfever.Message.Business.AssemblyInfoInputs.cache
/Corkedfever.Message.Business/obj/Debug/net8.0/Corkedfever.Message.Business.assets.cache
/Corkedfever.Message.Business/obj/Debug/net8.0/Corkedfever.Message.Business.csproj.AssemblyReference.cache
/Corkedfever.Message.Business/obj/Debug/net8.0/Corkedfever.Message.Business.csproj.BuildWithSkipAnalyzers
/Corkedfever.Message.Business/obj/Debug/net8.0/Corkedfever.Message.Business.csproj.CoreCompileInputs.cache
/Corkedfever.Message.Business/obj/Debug/net8.0/Corkedfever.Message.Business.csproj.FileListAbsolute.txt
/Corkedfever.Message.Business/obj/Debug/net8.0/Corkedfever.Message.Business.dll
/Corkedfever.Message.Business/obj/Debug/net8.0/Corkedfever.Message.Business.pdb
/Corkedfever.Message.Business/obj/Debug/net8.0/Corkedfever.Message.Business.sourcelink.json
/Corkedfever.Message.Business/obj/Release/net8.0/Corkedfever.Message.Business.AssemblyInfo.cs
/Corkedfever.Message.Business/obj/Release/net8.0/Corkedfever.Message.Business.AssemblyInfoInputs.cache
/Corkedfever.Message.Business/obj/Corkedfever.Message.Business.csproj.nuget.dgspec.json
/Corkedfever.Message.Business/obj/project.assets.json
/Corkedfever.Message.Business/obj/project.nuget.cache
/Corkedfever.Message.Data/bin/Debug/net8.0/Corkedfever.Message.Data.dll
/Corkedfever.Message.Data/bin/Debug/net8.0/Corkedfever.Message.Data.pdb
/Corkedfever.Message.Data/obj/Debug/net8.0/Corkedfever.Message.Data.AssemblyInfo.cs
/Corkedfever.Message.Data/obj/Debug/net8.0/Corkedfever.Message.Data.AssemblyInfoInputs.cache
/Corkedfever.Message.Data/obj/Debug/net8.0/Corkedfever.Message.Data.assets.cache
/Corkedfever.Message.Data/obj/Debug/net8.0/Corkedfever.Message.Data.csproj.AssemblyReference.cache
/Corkedfever.Message.Data/obj/Debug/net8.0/Corkedfever.Message.Data.csproj.FileListAbsolute.txt
/Corkedfever.Message.Data/obj/Debug/net8.0/Corkedfever.Message.Data.dll
/Corkedfever.Message.Data/obj/Debug/net8.0/Corkedfever.Message.Data.GeneratedMSBuildEditorConfig.editorconfig
/Corkedfever.Message.Data/obj/Debug/net8.0/Corkedfever.Message.Data.pdb
/Corkedfever.Message.Data/obj/Debug/net8.0/Corkedfever.Message.Data.sourcelink.json
/Corkedfever.Message.Data/obj/Debug/net8.0/ref/Corkedfever.Message.Data.dll
/Corkedfever.Message.Data/obj/Debug/net8.0/refint/Corkedfever.Message.Data.dll
/Corkedfever.Message.Service/.vs/Corkedfever.Message.Service/config/applicationhost.config
/Corkedfever.Message.Service/.vs/Corkedfever.Message.Service/DesignTimeBuild/.dtbcache.v2
/Corkedfever.Message.Service/.vs/Corkedfever.Message.Service/FileContentIndex/1e9fbd4e-70dc-4600-a960-313735a4dc7c.vsidx
/Corkedfever.Message.Service/.vs/Corkedfever.Message.Service/FileContentIndex/2f4f109c-61b7-4da2-b50d-e7eced4e7088.vsidx
/Corkedfever.Message.Service/.vs/Corkedfever.Message.Service/FileContentIndex/2f9936f5-c331-48aa-8fb8-44357cca9688.vsidx
/Corkedfever.Message.Service/.vs/Corkedfever.Message.Service/FileContentIndex/33ba1eea-e73f-4ffe-8683-d21b13813206.vsidx
/Corkedfever.Message.Service/.vs/Corkedfever.Message.Service/FileContentIndex/57e6f088-127c-4978-a42f-639452e5f7cb.vsidx
/Corkedfever.Message.Service/.vs/Corkedfever.Message.Service/FileContentIndex/8b0a8d11-b33a-4e63-b419-4e9d5215dded.vsidx
/Corkedfever.Message.Service/.vs/Corkedfever.Message.Service/FileContentIndex/a0d193e5-4a1b-494a-8dac-fa6451f28efe.vsidx
/Corkedfever.Message.Service/.vs/Corkedfever.Message.Service/FileContentIndex/b77b83a8-0e05-48de-aa78-8fe174430415.vsidx
/Corkedfever.Message.Service/.vs/Corkedfever.Message.Service/FileContentIndex/e05f9fae-b20a-4312-982e-411769293aa2.vsidx
/Corkedfever.Message.Service/.vs/Corkedfever.Message.Service/FileContentIndex/ff8b51aa-8673-465e-b8a0-1b37e2e5d74b.vsidx
/Corkedfever.Message.Service/.vs/Corkedfever.Message.Service/v17/.futdcache.v2
/Corkedfever.Message.Service/.vs/Corkedfever.Message.Service/v17/.suo
/Corkedfever.Message.Service/.vs/Corkedfever.Message.Service/v17/DocumentLayout.json
/Corkedfever.Message.Service/.vs/ProjectEvaluation/corkedfever.message.service.metadata.v7.bin
/Corkedfever.Message.Service/.vs/ProjectEvaluation/corkedfever.message.service.projects.v7.bin
/Corkedfever.Message.Service/bin/Debug/net8.0/appsettings.json
/Corkedfever.Message.Service/bin/Debug/net8.0/Corkedfever.Message.Business.dll
/Corkedfever.Message.Service/bin/Debug/net8.0/Corkedfever.Message.Business.pdb
/Corkedfever.Message.Service/bin/Debug/net8.0/Corkedfever.Message.Data.dll
/Corkedfever.Message.Service/bin/Debug/net8.0/Corkedfever.Message.Data.pdb
/Corkedfever.Message.Service/bin/Debug/net8.0/Corkedfever.Message.Service.dll
/Corkedfever.Message.Service/bin/Debug/net8.0/Corkedfever.Message.Service.exe
/Corkedfever.Message.Service/bin/Debug/net8.0/Corkedfever.Message.Service.pdb
/Corkedfever.Message.Service/obj/Debug/net8.0/ApiEndpoints.json
/Corkedfever.Message.Service/obj/Debug/net8.0/apphost.exe
/Corkedfever.Message.Service/obj/Debug/net8.0/Corkedfever.Message.Service.AssemblyInfo.cs
/Corkedfever.Message.Service/obj/Debug/net8.0/Corkedfever.Message.Service.AssemblyInfoInputs.cache
/Corkedfever.Message.Service/obj/Debug/net8.0/Corkedfever.Message.Service.csproj.AssemblyReference.cache
/Corkedfever.Message.Service/obj/Debug/net8.0/Corkedfever.Message.Service.csproj.CoreCompileInputs.cache
/Corkedfever.Message.Service/obj/Debug/net8.0/Corkedfever.Message.Service.csproj.FileListAbsolute.txt
/Corkedfever.Message.Service/obj/Debug/net8.0/Corkedfever.Message.Service.dll
/Corkedfever.Message.Service/obj/Debug/net8.0/Corkedfever.Message.Service.genruntimeconfig.cache
/Corkedfever.Message.Service/obj/Debug/net8.0/Corkedfever.Message.Service.pdb
/Corkedfever.Message.Service/obj/Debug/net8.0/Corkedfever.Message.Service.sourcelink.json
/Corkedfever.Message.Service/obj/Debug/net8.0/ref/Corkedfever.Message.Service.dll
/Corkedfever.Message.Service/obj/Debug/net8.0/refint/Corkedfever.Message.Service.dll
/Corkedfever.Message.Service/obj/Release/net8.0/Corkedfever.Message.Service.AssemblyInfo.cs
/Corkedfever.Message.Service/obj/Release/net8.0/Corkedfever.Message.Service.AssemblyInfoInputs.cache
/Corkedfever.Message.Data/obj/Corkedfever.Message.Data.csproj.nuget.dgspec.json
/Corkedfever.Message.Data/obj/project.assets.json
/Corkedfever.Message.Data/obj/project.nuget.cache
/Corkedfever.Message.Data/obj/Release/net8.0/Corkedfever.Message.Data.AssemblyInfo.cs
/Corkedfever.Message.Data/obj/Release/net8.0/Corkedfever.Message.Data.AssemblyInfoInputs.cache
/Corkedfever.Message.Service/obj/Corkedfever.Message.Service.csproj.nuget.dgspec.json
/Corkedfever.Message.Service/obj/project.assets.json
/Corkedfever.Message.Service/obj/project.nuget.cache
